<a href="https://colab.research.google.com/github/meetAmarAtGithub/Reva_MachineLearning/blob/main/Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import seaborn as sns
from matplotlib.backends.backend_pdf import PdfPages
import matplotlib.pyplot as plt
import scipy.stats as stat
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import math
from sklearn import metrics
from sklearn.metrics import roc_curve, auc, recall_score, precision_score, accuracy_score, f1_score
from scipy import stats

In [ ]:
#import pandas as pd
df = pd.read_csv("Default_On_Payment.csv")
df.head(5)

C:\Users\JAYA_U~1\AppData\Local\Temp/ipykernel_9844/3627607188.py:2: DtypeWarning: Columns (2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Default_On_Payment.csv")

,Customer_ID,Status_Checking_Acc,Duration_in_Months,Credit_History,Purposre_Credit_Taken,Credit_Amount,Savings_Acc,Years_At_Present_Employment,Inst_Rt_Income,Marital_Status_Gender,...,Property,Age,Other_Inst_Plans,Housing,Num_CC,Job,Dependents,Telephone,Foreign_Worker,Default_On_Payment
0,100015.0,A14,27,A32,A40,2570,A61,A73,3.0,A92,...,A121,21.0,A143,A151,1.0,A173,1.0,A191,A201,1.0
1,100031.0,A11,12,A34,A43,385,A61,A74,4.0,A92,...,A121,58.0,A143,A152,4.0,A172,1.0,A192,A201,0.0
2,100046.0,A12,13,A34,A43,882,A61,A72,4.0,A93,...,A121,23.0,A143,A152,2.0,A173,1.0,A191,A201,0.0
3,100103.0,A14,24,A32,A40,1393,A61,A73,2.0,A93,...,A121,31.0,A143,A152,1.0,A173,1.0,A192,A201,0.0
4,100104.0,A11,24,A32,A40,3123,A61,A72,4.0,A92,...,A122,27.0,A143,A152,1.0,A173,1.0,A191,A201,1.0

## Exploratory Data Analysis

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40121 entries, 0 to 40120
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Customer_ID                  40120 non-null  float64
 1   Status_Checking_Acc          40121 non-null  object
 2   Duration_in_Months           40121 non-null  object
 3   Credit_History               40121 non-null  object
 4   Purposre_Credit_Taken        40120 non-null  object
 5   Credit_Amount                40120 non-null  object
 6   Savings_Acc                  40120 non-null  object
 7   Years_At_Present_Employment  40120 non-null  object
 8   Inst_Rt_Income               40120 non-null  float64
 9   Marital_Status_Gender        40120 non-null  object
 10  Other_Debtors_Guarantors     40120 non-null  object
 11  Current_Address_Yrs          40120 non-null  float64
 12  Property                     40119 non-null  object
 13  Age                          40119 non-null  float64
 14  Other_Inst_Plans             40119 non-null  object
 15  Housing                      40119 non-null  object
 16  Num_CC                       40119 non-null  float64
 17  Job                          40119 non-null  object
 18  Dependents                   40119 non-null  float64
 19  Telephone                    40119 non-null  object
 20  Foreign_Worker               40119 non-null  object
 21  Default_On_Payment           40119 non-null  float64
dtypes: float64(7), object(15)
memory usage: 6.7+ MB

In [ ]:
pd.isnull(df).sum()

Customer_ID                    1
Status_Checking_Acc            0
Duration_in_Months             0
Credit_History                 0
Purposre_Credit_Taken          1
Credit_Amount                  1
Savings_Acc                    1
Years_At_Present_Employment    1
Inst_Rt_Income                 1
Marital_Status_Gender          1
Other_Debtors_Guarantors       1
Current_Address_Yrs            1
Property                       2
Age                            2
Other_Inst_Plans               2
Housing                        2
Num_CC                         2
Job                            2
Dependents                     2
Telephone                      2
Foreign_Worker                 2
Default_On_Payment             2
dtype: int64

In [ ]:
#get number of rows/observations
print ("Rows     : " , df.shape[0])

Rows     :  40121

In [ ]:
#get number of columns
print ("Columns  : " , df.shape[1])

Columns  :  22

In [ ]:
#get name of columns/features
print ("#"*50,"\n","Features : \n\n", df.columns.tolist())

##################################################
 Features :

 ['Customer_ID', 'Status_Checking_Acc', 'Duration_in_Months', 'Credit_History', 'Purposre_Credit_Taken', 'Credit_Amount', 'Savings_Acc', 'Years_At_Present_Employment', 'Inst_Rt_Income', 'Marital_Status_Gender', 'Other_Debtors_Guarantors', 'Current_Address_Yrs', 'Property', 'Age', 'Other_Inst_Plans ', 'Housing', 'Num_CC', 'Job', 'Dependents', 'Telephone', 'Foreign_Worker', 'Default_On_Payment']

In [ ]:
print ("#"*20,"\nMissing values :\n\n", df.isnull().sum().sort_values(ascending=False))

####################
Missing values :

 Default_On_Payment             2
Property                       2
Foreign_Worker                 2
Telephone                      2
Dependents                     2
Job                            2
Num_CC                         2
Housing                        2
Other_Inst_Plans               2
Age                            2
Customer_ID                    1
Other_Debtors_Guarantors       1
Marital_Status_Gender          1
Inst_Rt_Income                 1
Years_At_Present_Employment    1
Savings_Acc                    1
Credit_Amount                  1
Purposre_Credit_Taken          1
Current_Address_Yrs            1
Status_Checking_Acc            0
Credit_History                 0
Duration_in_Months             0
dtype: int64

In [ ]:
# looking at columns with most Missing Values
print( "#"*20,"\nPercent of missing :\n\n", round(df.isna().sum() / df.isna().count() * 100, 2))

####################
Percent of missing :

 Customer_ID                    0.0
Status_Checking_Acc            0.0
Duration_in_Months             0.0
Credit_History                 0.0
Purposre_Credit_Taken          0.0
Credit_Amount                  0.0
Savings_Acc                    0.0
Years_At_Present_Employment    0.0
Inst_Rt_Income                 0.0
Marital_Status_Gender          0.0
Other_Debtors_Guarantors       0.0
Current_Address_Yrs            0.0
Property                       0.0
Age                            0.0
Other_Inst_Plans               0.0
Housing                        0.0
Num_CC                         0.0
Job                            0.0
Dependents                     0.0
Telephone                      0.0
Foreign_Worker                 0.0
Default_On_Payment             0.0
dtype: float64

In [ ]:
#  count of unique values
print ("#"*20,"\nUnique values :  \n\n", df.nunique())

####################
Unique values :

 Customer_ID                    39133
Status_Checking_Acc                5
Duration_in_Months                67
Credit_History                     6
Purposre_Credit_Taken             11
Credit_Amount                   1843
Savings_Acc                        6
Years_At_Present_Employment        6
Inst_Rt_Income                     4
Marital_Status_Gender              5
Other_Debtors_Guarantors           4
Current_Address_Yrs                5
Property                           4
Age                               53
Other_Inst_Plans                   3
Housing                            3
Num_CC                             4
Job                                4
Dependents                         2
Telephone                          2
Foreign_Worker                     2
Default_On_Payment                 2
dtype: int64

## Data Cleaning

In [ ]:
#Drop NA
df =df.dropna()
df.shape

(40119, 22)

In [ ]:
#Dropping customer id field as it is unique field and no relation with default payment
df = df.drop(['Customer_ID'],axis=1)
df.head(5)

,Status_Checking_Acc,Duration_in_Months,Credit_History,Purposre_Credit_Taken,Credit_Amount,Savings_Acc,Years_At_Present_Employment,Inst_Rt_Income,Marital_Status_Gender,Other_Debtors_Guarantors,...,Property,Age,Other_Inst_Plans,Housing,Num_CC,Job,Dependents,Telephone,Foreign_Worker,Default_On_Payment
0,A14,27,A32,A40,2570,A61,A73,3.0,A92,A101,...,A121,21.0,A143,A151,1.0,A173,1.0,A191,A201,1.0
1,A11,12,A34,A43,385,A61,A74,4.0,A92,A101,...,A121,58.0,A143,A152,4.0,A172,1.0,A192,A201,0.0
2,A12,13,A34,A43,882,A61,A72,4.0,A93,A103,...,A121,23.0,A143,A152,2.0,A173,1.0,A191,A201,0.0
3,A14,24,A32,A40,1393,A61,A73,2.0,A93,A103,...,A121,31.0,A143,A152,1.0,A173,1.0,A192,A201,0.0
4,A11,24,A32,A40,3123,A61,A72,4.0,A92,A101,...,A122,27.0,A143,A152,1.0,A173,1.0,A191,A201,1.0

### Converting  "Duration_in_Months" and "Credit_Amount" column types to Numeric and Float respectively.

In [ ]:
df['Duration_in_Months']=pd.to_numeric(df.Duration_in_Months,errors='coerce')

In [ ]:
df['Credit_Amount']=pd.to_numeric(df.Credit_Amount,downcast="float",errors='coerce')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40119 entries, 0 to 40119
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Status_Checking_Acc          40119 non-null  object
 1   Duration_in_Months           40119 non-null  int64
 2   Credit_History               40119 non-null  object
 3   Purposre_Credit_Taken        40119 non-null  object
 4   Credit_Amount                40119 non-null  float32
 5   Savings_Acc                  40119 non-null  object
 6   Years_At_Present_Employment  40119 non-null  object
 7   Inst_Rt_Income               40119 non-null  float64
 8   Marital_Status_Gender        40119 non-null  object
 9   Other_Debtors_Guarantors     40119 non-null  object
 10  Current_Address_Yrs          40119 non-null  float64
 11  Property                     40119 non-null  object
 12  Age                          40119 non-null  float64
 13  Other_Inst_Plans             40119 non-null  object
 14  Housing                      40119 non-null  object
 15  Num_CC                       40119 non-null  float64
 16  Job                          40119 non-null  object
 17  Dependents                   40119 non-null  float64
 18  Telephone                    40119 non-null  object
 19  Foreign_Worker               40119 non-null  object
 20  Default_On_Payment           40119 non-null  float64
dtypes: float32(1), float64(6), int64(1), object(13)
memory usage: 6.6+ MB

In [ ]:
numeric_var_names=[key for key in dict(df.dtypes) if dict(df.dtypes)[key] in ['float64', 'int64', 'float32', 'int32']]
numeric_var_names

['Duration_in_Months',
 'Credit_Amount',
 'Inst_Rt_Income',
 'Current_Address_Yrs',
 'Age',
 'Num_CC',
 'Dependents',
 'Default_On_Payment']

In [ ]:
#Removing  ['Default_On_Payment'] target from input parameters
numeric_var_names.pop()
numeric_var_names

['Duration_in_Months',
 'Credit_Amount',
 'Inst_Rt_Income',
 'Current_Address_Yrs',
 'Age',
 'Num_CC',
 'Dependents']

In [ ]:
cat_var_names=[key for key in dict(df.dtypes) if dict(df.dtypes)[key] in ['object']]
cat_var_names

['Status_Checking_Acc',
 'Credit_History',
 'Purposre_Credit_Taken',
 'Savings_Acc',
 'Years_At_Present_Employment',
 'Marital_Status_Gender',
 'Other_Debtors_Guarantors',
 'Property',
 'Other_Inst_Plans ',
 'Housing',
 'Job',
 'Telephone',
 'Foreign_Worker']

In [ ]:
#numeric_var_names.pop() #Removing "Dependents" as it is not required scaling

x_num=df.loc[:,(numeric_var_names)]
x_num.tail(5)

,Duration_in_Months,Credit_Amount,Inst_Rt_Income,Current_Address_Yrs,Age,Num_CC,Dependents
40115,24,1285.0,4.0,4.0,32.0,1.0,1.0
40116,24,1935.0,4.0,4.0,31.0,2.0,1.0
40117,60,14027.0,4.0,2.0,27.0,1.0,1.0
40118,36,3804.0,4.0,1.0,42.0,1.0,1.0
40119,20,2235.0,4.0,2.0,33.0,2.0,1.0

In [ ]:
# #Scale all values between 0 and 1
# from sklearn.preprocessing import MinMaxScaler
# scld = MinMaxScaler(feature_range=(0,1))
# arr_scld = scld.fit_transform(x_num.Credit_Amount)
# df_scld = pd.DataFrame(arr_scld, columns= x_num.columns)

In [ ]:
# df_scld.tail(5)

In [ ]:
# df_scld['Dependents'] = df.Dependents
# df_scld.tail(5)

In [ ]:
# df_scld.shape

In [ ]:
x_num1=df.loc[:,(cat_var_names)]
x_num1=pd.get_dummies(x_num1)
x_num1.tail(5)

,Status_Checking_Acc_A11,Status_Checking_Acc_A12,Status_Checking_Acc_A13,Status_Checking_Acc_A14,Credit_History_A30,Credit_History_A31,Credit_History_A32,Credit_History_A33,Credit_History_A34,Purposre_Credit_Taken_A40,...,Housing_A152,Housing_A153,Job_A171,Job_A172,Job_A173,Job_A174,Telephone_A191,Telephone_A192,Foreign_Worker_A201,Foreign_Worker_A202
40115,1,0,0,0,0,0,1,0,0,1,...,0,0,0,0,1,0,1,0,1,0
40116,0,1,0,0,0,0,0,0,1,0,...,1,0,0,0,1,0,0,1,1,0
40117,0,1,0,0,0,0,1,0,0,1,...,1,0,0,0,0,1,0,1,1,0
40118,0,1,0,0,1,0,0,0,0,0,...,1,0,0,0,1,0,0,1,1,0
40119,1,0,0,0,0,0,0,0,1,1,...,0,0,0,0,1,0,1,0,0,1

In [ ]:
x_num1.shape

(40119, 54)

In [ ]:
# x=pd.concat([x_num1,df_scld],axis=1)
x=pd.concat([x_num1,x_num],axis=1)
x.tail(5)

,Status_Checking_Acc_A11,Status_Checking_Acc_A12,Status_Checking_Acc_A13,Status_Checking_Acc_A14,Credit_History_A30,Credit_History_A31,Credit_History_A32,Credit_History_A33,Credit_History_A34,Purposre_Credit_Taken_A40,...,Telephone_A192,Foreign_Worker_A201,Foreign_Worker_A202,Duration_in_Months,Credit_Amount,Inst_Rt_Income,Current_Address_Yrs,Age,Num_CC,Dependents
40115,1,0,0,0,0,0,1,0,0,1,...,0,1,0,24,1285.0,4.0,4.0,32.0,1.0,1.0
40116,0,1,0,0,0,0,0,0,1,0,...,1,1,0,24,1935.0,4.0,4.0,31.0,2.0,1.0
40117,0,1,0,0,0,0,1,0,0,1,...,1,1,0,60,14027.0,4.0,2.0,27.0,1.0,1.0
40118,0,1,0,0,1,0,0,0,0,0,...,1,1,0,36,3804.0,4.0,1.0,42.0,1.0,1.0
40119,1,0,0,0,0,0,0,0,1,1,...,0,0,1,20,2235.0,4.0,2.0,33.0,2.0,1.0

In [ ]:
x.shape

(40119, 61)

In [ ]:
y=df['Default_On_Payment']
y.shape

(40119,)

## Train Model

In [ ]:
#Create training and test data
train_x,test_x,train_y,test_y= train_test_split(x,y,test_size=0.25,random_state=1)

In [ ]:
#Scale all values between 0 and 1
from sklearn.preprocessing import MinMaxScaler
scld = MinMaxScaler(feature_range=(0,1))
scld.fit(x)
sc_train_x = scld.transform(train_x)
sc_test_x = scld.transform(test_x)

In [ ]:
# log=LogisticRegression()

In [ ]:
# #Fit a model
# log.fit(sc_train_x,train_y)

In [ ]:
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

In [ ]:
pipe = make_pipeline(StandardScaler(), LogisticRegression())

In [ ]:
pipe.fit(sc_train_x, train_y)  # apply scaling on training data

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('logisticregression', LogisticRegression())])

## Test Model Performance

In [ ]:
pipe.score(sc_test_x, test_y)

0.7875373878364905